USE [TTCN2Database]
GO
/****** Object:  Table [dbo].[Catalogue]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogue](
	[CATALOGUEID] [nvarchar](20) NOT NULL,
	[CATALOGUENAME] [ntext] NULL,
	[MATERIAL] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATALOGUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Currency]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[CID] [nvarchar](20) NOT NULL,
	[CNAME] [nvarchar](20) NOT NULL,
	[BUY111] [int] NULL,
	[BUY112] [int] NULL,
	[SELL] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CUSTOMERPHONE] [nvarchar](20) NOT NULL,
	[CUSTOMERNAME] [ntext] NOT NULL,
	[CUSTOMERDOB] [datetime] NULL,
	[PURCHASED] [numeric](18, 0) NULL,
	[TOTALCONSUMPTION] [int] NULL,
	[CUSTOMERADDRESS] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERPHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[UFULLNAME] [ntext] NOT NULL,
	[UDOB] [datetime] NULL,
	[UADDRESS] [ntext] NULL,
	[UGENDER] [bit] NULL,
	[UPHONE] [nvarchar](20) NULL,
	[UREGENCY] [ntext] NULL,
	[USALARY] [int] NULL,
	[URIGHT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImportingBills]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportingBills](
	[IBID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[IMPORTINGDATE] [datetime] NULL,
	[TOTALCOUNT] [numeric](18, 0) NULL,
	[IBNOTE] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[IBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImportingDetail]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportingDetail](
	[IBID] [int] NOT NULL,
	[PRODUCTID] [nvarchar](20) NOT NULL,
	[PRODUCTCOUNT] [numeric](18, 0) NULL,
	[TOTALWEIGHT] [int] NULL,
	[PRODUCTDESCRIBE] [text] NULL,
 CONSTRAINT [ImportingDetail_pk] PRIMARY KEY CLUSTERED 
(
	[IBID] ASC,
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderBills]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderBills](
	[OBID] [int] IDENTITY(1,1) NOT NULL,
	[OBEID] [nvarchar](20) NOT NULL,
	[CUSTOMERPHONE] [nvarchar](20) NOT NULL,
	[ORDERDATE] [datetime] NULL,
	[RECEIVEDATE] [datetime] NULL,
	[OBMONEY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OBID] [int] NOT NULL,
	[PRODUCTID] [nvarchar](20) NOT NULL,
	[ODDEPOSIT] [int] NULL,
	[ODCOUNT] [int] NULL,
	[ODPRICE] [int] NULL,
	[ODNOTE] [ntext] NULL,
 CONSTRAINT [OrderDetail_pk] PRIMARY KEY CLUSTERED 
(
	[OBID] ASC,
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[PRODUCTID] [nvarchar](20) NOT NULL,
	[CATALOGUEID] [nvarchar](20) NOT NULL,
	[PRODUCTNAME] [ntext] NOT NULL,
	[PRODUCTINVENTORY] [numeric](18, 0) NULL,
	[PRODUCTPRICE] [int] NULL,
	[PRODUCTPICTURE] [text] NULL,
	[GEMWEIGHT] [numeric](18, 0) NULL,
	[PRODUCTWEIGHT] [numeric](18, 0) NULL,
	[NOTE] [ntext] NULL,
	[PROCESSINGFEE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductWarranty]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWarranty](
	[PWID] [int] IDENTITY(1,1) NOT NULL,
	[SBID] [int] NOT NULL,
	[PRODUCTID] [nvarchar](20) NOT NULL,
	[PWCOUNT] [int] NULL,
	[PWTOTALPRICE] [int] NULL,
	[PWDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PromotionDetail]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionDetail](
	[PROMOTIONID] [nvarchar](20) NOT NULL,
	[PRODUCTID] [nvarchar](20) NOT NULL,
 CONSTRAINT [PromotionDetail_pk] PRIMARY KEY CLUSTERED 
(
	[PROMOTIONID] ASC,
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PROMOTIONID] [nvarchar](20) NOT NULL,
	[STARTINGDATE] [datetime] NULL,
	[ENDINGDATE] [datetime] NULL,
	[DISCOUNT] [int] NULL,
	[GIFT] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROMOTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Repurchase]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repurchase](
	[REPURCHASEID] [int] IDENTITY(1,1) NOT NULL,
	[SBID] [int] NOT NULL,
	[PRODUCTID] [nvarchar](20) NOT NULL,
	[RPCOUNT] [numeric](18, 0) NULL,
	[REASON] [text] NULL,
	[REPURCHASEPRICE] [int] NULL,
	[REPURCHASEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REPURCHASEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellingBills]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellingBills](
	[SBID] [int] IDENTITY(1,1) NOT NULL,
	[MAINEID] [nvarchar](20) NOT NULL,
	[EXTRAEID] [nvarchar](20) NULL,
	[CUSTOMERPHONE] [nvarchar](20) NOT NULL,
	[SBDATE] [datetime] NULL,
	[SBBONUSFEE] [int] NULL,
	[SBBONUSCONTENT] [ntext] NULL,
	[SBTOTALPRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellingDetail]    Script Date: 7/8/2019 2:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellingDetail](
	[SBID] [int] NOT NULL,
	[PRODUCTID] [nvarchar](20) NOT NULL,
	[SDCOUNT] [numeric](18, 0) NULL,
	[PRODUCTPRICE] [int] NULL,
	[SDTOTALPRICE] [int] NULL,
	[PROMOTIONID] [nvarchar](20) NULL,
	[SDTOTALDEPOSIT] [int] NULL,
 CONSTRAINT [SellingDetail_pk] PRIMARY KEY CLUSTERED 
(
	[SBID] ASC,
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Catalogue] ([CATALOGUEID], [CATALOGUENAME], [MATERIAL]) VALUES (N'G01', N'GOLD01', N'Vàng')
INSERT [dbo].[Catalogue] ([CATALOGUEID], [CATALOGUENAME], [MATERIAL]) VALUES (N'G02', N'GOLD02', N'Vàng')
INSERT [dbo].[Catalogue] ([CATALOGUEID], [CATALOGUENAME], [MATERIAL]) VALUES (N'G03', N'GOLD03', N'Vàng')
INSERT [dbo].[Currency] ([CID], [CNAME], [BUY111], [BUY112], [SELL]) VALUES (N'AUD', N'AUST.DOLLAR', 16091, 16188, 16463)
INSERT [dbo].[Currency] ([CID], [CNAME], [BUY111], [BUY112], [SELL]) VALUES (N'CAD', N'CANADIAN DOLLAR', 17225, 17381, 17677)
INSERT [dbo].[Currency] ([CID], [CNAME], [BUY111], [BUY112], [SELL]) VALUES (N'CHF', N'SWISS FRANCE', 23290, 23454, 23758)
INSERT [dbo].[Customer] ([CUSTOMERPHONE], [CUSTOMERNAME], [CUSTOMERDOB], [PURCHASED], [TOTALCONSUMPTION], [CUSTOMERADDRESS]) VALUES (N'01689091034', N'Trần Bích Ngọc', CAST(N'2012-06-18 00:00:00.000' AS DateTime), CAST(50 AS Numeric(18, 0)), 500000, N'Số 12 Hoàng Hoa Thám, Hà Nội')
INSERT [dbo].[Customer] ([CUSTOMERPHONE], [CUSTOMERNAME], [CUSTOMERDOB], [PURCHASED], [TOTALCONSUMPTION], [CUSTOMERADDRESS]) VALUES (N'03678458652', N'Nguyễn Văn Linh', CAST(N'2012-06-18 00:00:00.000' AS DateTime), CAST(50 AS Numeric(18, 0)), 500000, N'12 Chùa Bộc, Đống Đa, Hà Nội')
INSERT [dbo].[Employees] ([USERNAME], [PASSWORD], [UFULLNAME], [UDOB], [UADDRESS], [UGENDER], [UPHONE], [UREGENCY], [USALARY], [URIGHT]) VALUES (N'admin', N'1', N'Le Hong Son', CAST(N'1998-04-11 00:00:00.000' AS DateTime), N'Thái Thịnh', 1, N'0378479142', N'Quản trị viên', 10000000, 1)
INSERT [dbo].[Employees] ([USERNAME], [PASSWORD], [UFULLNAME], [UDOB], [UADDRESS], [UGENDER], [UPHONE], [UREGENCY], [USALARY], [URIGHT]) VALUES (N'Casang', N'1', N'Nhân viên ca sáng', CAST(N'1998-11-04 21:52:04.000' AS DateTime), N'Chưa rõ', 1, N'Chưa rõ', N'Nhân viên', 0, 0)
INSERT [dbo].[Employees] ([USERNAME], [PASSWORD], [UFULLNAME], [UDOB], [UADDRESS], [UGENDER], [UPHONE], [UREGENCY], [USALARY], [URIGHT]) VALUES (N'staff', N'1', N'Le Hong Son', CAST(N'1998-04-11 00:00:00.000' AS DateTime), N'Thái Thịnh', 1, N'0378479142', N'Nhân viên', 10000000, 0)
SET IDENTITY_INSERT [dbo].[ImportingBills] ON 

INSERT [dbo].[ImportingBills] ([IBID], [USERNAME], [IMPORTINGDATE], [TOTALCOUNT], [IBNOTE]) VALUES (1, N'admin', CAST(N'2019-07-08 00:00:00.000' AS DateTime), CAST(110 AS Numeric(18, 0)), N'')
SET IDENTITY_INSERT [dbo].[ImportingBills] OFF
INSERT [dbo].[ImportingDetail] ([IBID], [PRODUCTID], [PRODUCTCOUNT], [TOTALWEIGHT], [PRODUCTDESCRIBE]) VALUES (1, N'NPTB241', CAST(50 AS Numeric(18, 0)), 150, N'')
INSERT [dbo].[ImportingDetail] ([IBID], [PRODUCTID], [PRODUCTCOUNT], [TOTALWEIGHT], [PRODUCTDESCRIBE]) VALUES (1, N'NPTB242', CAST(60 AS Numeric(18, 0)), 180, N'')
SET IDENTITY_INSERT [dbo].[OrderBills] ON 

INSERT [dbo].[OrderBills] ([OBID], [OBEID], [CUSTOMERPHONE], [ORDERDATE], [RECEIVEDATE], [OBMONEY]) VALUES (1, N'admin', N'01689091034', CAST(N'2017-04-11 00:00:00.000' AS DateTime), CAST(N'2018-04-11 00:00:00.000' AS DateTime), 500000)
INSERT [dbo].[OrderBills] ([OBID], [OBEID], [CUSTOMERPHONE], [ORDERDATE], [RECEIVEDATE], [OBMONEY]) VALUES (2, N'admin', N'01689091034', CAST(N'2019-07-08 00:00:00.000' AS DateTime), CAST(N'2019-07-17 00:00:00.000' AS DateTime), 100000)
SET IDENTITY_INSERT [dbo].[OrderBills] OFF
INSERT [dbo].[OrderDetail] ([OBID], [PRODUCTID], [ODDEPOSIT], [ODCOUNT], [ODPRICE], [ODNOTE]) VALUES (2, N'NPTB241', 50000, 1, 1895000, N'')
INSERT [dbo].[OrderDetail] ([OBID], [PRODUCTID], [ODDEPOSIT], [ODCOUNT], [ODPRICE], [ODNOTE]) VALUES (2, N'NPTB242', 50000, 1, 1895000, N'')
INSERT [dbo].[Product] ([PRODUCTID], [CATALOGUEID], [PRODUCTNAME], [PRODUCTINVENTORY], [PRODUCTPRICE], [PRODUCTPICTURE], [GEMWEIGHT], [PRODUCTWEIGHT], [NOTE], [PROCESSINGFEE]) VALUES (N'DCPTB250', N'G03', N'Dây chuyền vàng 14K DCPTB250', CAST(60 AS Numeric(18, 0)), 13250000, N'', CAST(15 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), N'', 800000)
INSERT [dbo].[Product] ([PRODUCTID], [CATALOGUEID], [PRODUCTNAME], [PRODUCTINVENTORY], [PRODUCTPRICE], [PRODUCTPICTURE], [GEMWEIGHT], [PRODUCTWEIGHT], [NOTE], [PROCESSINGFEE]) VALUES (N'MAMD06C', N'G01', N'Dây chuyền vàng MAMD06C', CAST(50 AS Numeric(18, 0)), 5200000, N'', CAST(4 AS Numeric(18, 0)), CAST(5 AS Numeric(18, 0)), N'', 500000)
INSERT [dbo].[Product] ([PRODUCTID], [CATALOGUEID], [PRODUCTNAME], [PRODUCTINVENTORY], [PRODUCTPRICE], [PRODUCTPICTURE], [GEMWEIGHT], [PRODUCTWEIGHT], [NOTE], [PROCESSINGFEE]) VALUES (N'MAMD511', N'G03', N'Dây chuyền vàng hồng MAMD511', CAST(20 AS Numeric(18, 0)), 15520000, N'', CAST(15 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), N'', 1500000)
SET IDENTITY_INSERT [dbo].[ProductWarranty] ON 

INSERT [dbo].[ProductWarranty] ([PWID], [SBID], [PRODUCTID], [PWCOUNT], [PWTOTALPRICE], [PWDATE]) VALUES (2, 1, N'NPTB242', 4, 0, CAST(N'2019-07-08 00:00:00.000' AS DateTime))
INSERT [dbo].[ProductWarranty] ([PWID], [SBID], [PRODUCTID], [PWCOUNT], [PWTOTALPRICE], [PWDATE]) VALUES (3, 1, N'NPTB242', 4, 0, CAST(N'2019-07-08 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductWarranty] OFF
INSERT [dbo].[PromotionDetail] ([PROMOTIONID], [PRODUCTID]) VALUES (N'KM01', N'NPTB242')
INSERT [dbo].[Promotions] ([PROMOTIONID], [STARTINGDATE], [ENDINGDATE], [DISCOUNT], [GIFT]) VALUES (N'KM01', CAST(N'2018-12-12 00:00:00.000' AS DateTime), CAST(N'2018-12-12 00:00:00.000' AS DateTime), 50, N'N01')
SET IDENTITY_INSERT [dbo].[Repurchase] ON 

INSERT [dbo].[Repurchase] ([REPURCHASEID], [SBID], [PRODUCTID], [RPCOUNT], [REASON], [REPURCHASEPRICE], [REPURCHASEDATE]) VALUES (1, 1, N'NPTB241', CAST(0 AS Numeric(18, 0)), N'', 0, CAST(N'2019-07-08 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Repurchase] OFF
SET IDENTITY_INSERT [dbo].[SellingBills] ON 

INSERT [dbo].[SellingBills] ([SBID], [MAINEID], [EXTRAEID], [CUSTOMERPHONE], [SBDATE], [SBBONUSFEE], [SBBONUSCONTENT], [SBTOTALPRICE]) VALUES (1, N'admin', N'Casang', N'01689091034', CAST(N'2019-07-07 00:00:00.000' AS DateTime), 0, N'', 7580000)
INSERT [dbo].[SellingBills] ([SBID], [MAINEID], [EXTRAEID], [CUSTOMERPHONE], [SBDATE], [SBBONUSFEE], [SBBONUSCONTENT], [SBTOTALPRICE]) VALUES (3, N'admin', N'staff', N'03678458652', CAST(N'2019-07-07 00:00:00.000' AS DateTime), 5000000, N'Thêm khối lượng ruby', 12580000)
INSERT [dbo].[SellingBills] ([SBID], [MAINEID], [EXTRAEID], [CUSTOMERPHONE], [SBDATE], [SBBONUSFEE], [SBBONUSCONTENT], [SBTOTALPRICE]) VALUES (4, N'admin', N'Casang', N'01689091034', CAST(N'2019-07-08 00:00:00.000' AS DateTime), 50000, N'Thêm hộp', 9525000)
SET IDENTITY_INSERT [dbo].[SellingBills] OFF
INSERT [dbo].[SellingDetail] ([SBID], [PRODUCTID], [SDCOUNT], [PRODUCTPRICE], [SDTOTALPRICE], [PROMOTIONID], [SDTOTALDEPOSIT]) VALUES (1, N'NPTB242', CAST(4 AS Numeric(18, 0)), 1895000, 7580000, NULL, 0)
INSERT [dbo].[SellingDetail] ([SBID], [PRODUCTID], [SDCOUNT], [PRODUCTPRICE], [SDTOTALPRICE], [PROMOTIONID], [SDTOTALDEPOSIT]) VALUES (3, N'NPTB241', CAST(3 AS Numeric(18, 0)), 1895000, 5685000, NULL, 0)
INSERT [dbo].[SellingDetail] ([SBID], [PRODUCTID], [SDCOUNT], [PRODUCTPRICE], [SDTOTALPRICE], [PROMOTIONID], [SDTOTALDEPOSIT]) VALUES (3, N'NPTB242', CAST(1 AS Numeric(18, 0)), 1895000, 1895000, NULL, 0)
ALTER TABLE [dbo].[ImportingBills]  WITH CHECK ADD  CONSTRAINT [fk_ImportingBills_Employees] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[Employees] ([USERNAME])
GO
ALTER TABLE [dbo].[ImportingBills] CHECK CONSTRAINT [fk_ImportingBills_Employees]
GO
ALTER TABLE [dbo].[ImportingDetail]  WITH CHECK ADD  CONSTRAINT [fk_ImportingDetail_ImportingBills] FOREIGN KEY([IBID])
REFERENCES [dbo].[ImportingBills] ([IBID])
GO
ALTER TABLE [dbo].[ImportingDetail] CHECK CONSTRAINT [fk_ImportingDetail_ImportingBills]
GO
ALTER TABLE [dbo].[ImportingDetail]  WITH CHECK ADD  CONSTRAINT [fk_ImportingDetail_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[Product] ([PRODUCTID])
GO
ALTER TABLE [dbo].[ImportingDetail] CHECK CONSTRAINT [fk_ImportingDetail_Product]
GO
ALTER TABLE [dbo].[OrderBills]  WITH CHECK ADD  CONSTRAINT [fk_OrderBills_Customer] FOREIGN KEY([CUSTOMERPHONE])
REFERENCES [dbo].[Customer] ([CUSTOMERPHONE])
GO
ALTER TABLE [dbo].[OrderBills] CHECK CONSTRAINT [fk_OrderBills_Customer]
GO
ALTER TABLE [dbo].[OrderBills]  WITH CHECK ADD  CONSTRAINT [fk_OrderBills_Employees] FOREIGN KEY([OBEID])
REFERENCES [dbo].[Employees] ([USERNAME])
GO
ALTER TABLE [dbo].[OrderBills] CHECK CONSTRAINT [fk_OrderBills_Employees]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [fk_OrderDetail_OrderBills] FOREIGN KEY([OBID])
REFERENCES [dbo].[OrderBills] ([OBID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [fk_OrderDetail_OrderBills]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [fk_OrderDetail_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[Product] ([PRODUCTID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [fk_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_Product_Catalogue] FOREIGN KEY([CATALOGUEID])
REFERENCES [dbo].[Catalogue] ([CATALOGUEID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_Product_Catalogue]
GO
ALTER TABLE [dbo].[ProductWarranty]  WITH CHECK ADD  CONSTRAINT [fk_ProcuctWarranty_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[Product] ([PRODUCTID])
GO
ALTER TABLE [dbo].[ProductWarranty] CHECK CONSTRAINT [fk_ProcuctWarranty_Product]
GO
ALTER TABLE [dbo].[ProductWarranty]  WITH CHECK ADD  CONSTRAINT [fk_ProcuctWarranty_SellingBills] FOREIGN KEY([SBID])
REFERENCES [dbo].[SellingBills] ([SBID])
GO
ALTER TABLE [dbo].[ProductWarranty] CHECK CONSTRAINT [fk_ProcuctWarranty_SellingBills]
GO
ALTER TABLE [dbo].[PromotionDetail]  WITH CHECK ADD  CONSTRAINT [fk_PromotionDetail_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[Product] ([PRODUCTID])
GO
ALTER TABLE [dbo].[PromotionDetail] CHECK CONSTRAINT [fk_PromotionDetail_Product]
GO
ALTER TABLE [dbo].[PromotionDetail]  WITH CHECK ADD  CONSTRAINT [fk_PromotionDetail_Promotions] FOREIGN KEY([PROMOTIONID])
REFERENCES [dbo].[Promotions] ([PROMOTIONID])
GO
ALTER TABLE [dbo].[PromotionDetail] CHECK CONSTRAINT [fk_PromotionDetail_Promotions]
GO
ALTER TABLE [dbo].[Repurchase]  WITH CHECK ADD  CONSTRAINT [fk_Repurchase_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[Product] ([PRODUCTID])
GO
ALTER TABLE [dbo].[Repurchase] CHECK CONSTRAINT [fk_Repurchase_Product]
GO
ALTER TABLE [dbo].[Repurchase]  WITH CHECK ADD  CONSTRAINT [fk_Repurchase_SellingBills] FOREIGN KEY([SBID])
REFERENCES [dbo].[SellingBills] ([SBID])
GO
ALTER TABLE [dbo].[Repurchase] CHECK CONSTRAINT [fk_Repurchase_SellingBills]
GO
ALTER TABLE [dbo].[SellingBills]  WITH CHECK ADD  CONSTRAINT [fk_SellingBills_Customer] FOREIGN KEY([CUSTOMERPHONE])
REFERENCES [dbo].[Customer] ([CUSTOMERPHONE])
GO
ALTER TABLE [dbo].[SellingBills] CHECK CONSTRAINT [fk_SellingBills_Customer]
GO
ALTER TABLE [dbo].[SellingBills]  WITH CHECK ADD  CONSTRAINT [fk_SellingBills_Employees] FOREIGN KEY([MAINEID])
REFERENCES [dbo].[Employees] ([USERNAME])
GO
ALTER TABLE [dbo].[SellingBills] CHECK CONSTRAINT [fk_SellingBills_Employees]
GO
ALTER TABLE [dbo].[SellingBills]  WITH CHECK ADD  CONSTRAINT [fk_SellingBills_Employees2] FOREIGN KEY([EXTRAEID])
REFERENCES [dbo].[Employees] ([USERNAME])
GO
ALTER TABLE [dbo].[SellingBills] CHECK CONSTRAINT [fk_SellingBills_Employees2]
GO
ALTER TABLE [dbo].[SellingDetail]  WITH CHECK ADD  CONSTRAINT [fk_SellingDetail_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[Product] ([PRODUCTID])
GO
ALTER TABLE [dbo].[SellingDetail] CHECK CONSTRAINT [fk_SellingDetail_Product]
GO
ALTER TABLE [dbo].[SellingDetail]  WITH CHECK ADD  CONSTRAINT [fk_SellingDetail_Promotions] FOREIGN KEY([PROMOTIONID])
REFERENCES [dbo].[Promotions] ([PROMOTIONID])
GO
ALTER TABLE [dbo].[SellingDetail] CHECK CONSTRAINT [fk_SellingDetail_Promotions]
GO
ALTER TABLE [dbo].[SellingDetail]  WITH CHECK ADD  CONSTRAINT [fk_SellingDetail_SellingBills] FOREIGN KEY([SBID])
REFERENCES [dbo].[SellingBills] ([SBID])
GO
ALTER TABLE [dbo].[SellingDetail] CHECK CONSTRAINT [fk_SellingDetail_SellingBills]
GO
